body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.container {
    text-align: left;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo h3 {
    margin: 0;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14pt;
}

.menu a:hover {
    color: yellow;
    transition: .5s;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.card_display {
    display: block;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.card_display h1 {
    margin-bottom: 20px;
}

.card_display button {
    cursor: pointer;
    color: white;
    background-color: #3498db;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.card_display button:hover {
    background-color: #2980b9;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.card.hovered {
    border: 2px dashed blue;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}

.popup h3 {
    margin-bottom: 10px;
}

.close-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-top: 10px;
}

