body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.edit-button,
.delete-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-right: 5px;
}
