
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* navbar */
nav{
    background-color: #333;
    color: #fff;
    
}
.nav-con{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

ul.menu{
    display: flex;
    list-style: none;
}
ul.menu li{
    margin: 0 1rem;
}
ul.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
}
ul.menu li a:hover{
    color: yellow;
    transition: .5s;
}
/* banner */
.banner{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1618477388954-7852f32655ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    background-position: center;
    background-size: cover;
    text-align: center;
}   
.banner-info h1{
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
}
.banner-info p{
    color: #fff;
}
.banner-info .banner-btn{
    background-color: tomato;
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
}
.banner-info .banner-btn:hover{
    color: yellow;
}
/* CTA */
.cta{
    margin-top: 10rem;
    height: 300px;
    background: url("https://scontent.fhdy2-1.fna.fbcdn.net/v/t39.30808-6/272536118_119834487234351_3791194319522294005_n.png?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGKNW8dvawugWJ0G0s38nAjKYh6EzN-SbYpiHoTM35JtvWcYZuKz_xFxi5hQ2laPkJogcr8KpgCYxRn6FiA6iCP&_nc_ohc=NEGn7B1nYA8AX84nHGN&_nc_ht=scontent.fhdy2-1.fna&oh=00_AfDNwvlupzKiNmj_L8lV4tI6-gPhFBtM0A1n7ZyH7Z5mMg&oe=637FC0A0");
    background-size:cover ;
    background-position: center;
}
.cta-con{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}
.cta-tital{
    font-size: 3rem;
    color: #000;
    border-style: double;
    border-width: 10px;
}
.cta-btn{
    background: tomato;
    color: #000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    
}
.cta-btn:hover{
    color: yellow;
}
footer{
    height: auto;
    background: #333;
    padding: 4rem 0;
}
.footer-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #fff;
}
.footer-item h3{
    margin-bottom: 2rem;
}
.footer-item ul{
    list-style: none;
}
.footer-item ul li{
    margin: 1rem 0;
}
.footer-item a{
    color:  gray;
    text-decoration: none;
}