<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ppp">
        <div class="pp">
            <!-- Title card will show here -->
        </div>
    </div>
    <div class="container">
        <div class="main-content">
            <div class="card_display">
                <h1>Courses</h1>
                <button onclick="addCard()">Add Card</button>
            </div>
        </div>
        <div id="cardContainer" class="card-container">
            <!-- Cards will be added here -->
        </div>
    </div>
</body>
</html>