<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Social Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-con">
                <div class="logo">
                    <h3><a href="{{ url_for('engigear') }}">ENGIGEAR</a></h3>
                </div>
                {% if current_user.is_authenticated %}
                    <ul class="menu">
                        <li><a href="{{ url_for('blog') }}">Task</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('FAQ') }}">FAQ</a></li>
                        <li><a href="{{ url_for('service') }}">Service</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropbtn">{{ current_user.name }}</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('edit') }}">Profile</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="menu">
                        <li><a href="{{ url_for('blog') }}">Task</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('FAQ') }}">FAQ</a></li>
                        <li><a href="{{ url_for('service') }}">Service</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="main">
        <div class="card">
            <span class="instagram"><i class="fab fa-instagram"></i></span>
        </div>
        <div class="card">
            <span class="twitter"><i class="fab fa-twitter"></i></span>
        </div>
        <div class="card">
            <span class="tiktok"><i class="fab fa-tiktok"></i></span>
        </div>
        <div class="card">
            <span class="facebook"><i class="fab fa-facebook"></i></span>
        </div>
        <div class="card">

        </div>
        <div class="card">
            <span class="discord"><i class="fab fa-discord"></i></span>
        </div>
        <div class="card">
            <span class="github"><i class="fab fa-github"></i></span>
        </div>
        <div class="card">
            <span class="telegram"><i class="fab fa-telegram"></i></span>
        </div>
        <div class="card">
            <span class="youtube"><i class="fab fa-youtube"></i></span>
        </div>
        <p class="text">Contract</p>
        <div class="main_back"></div>
    </div>
</body>

</html>