<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-con">
                <div class="logo">
                    <h3>ENGIGEAR</h3>
                </div>
                {% if current_user.is_authenticated %}
                    <ul class="menu">
                        <li><a href="{{ url_for('blog') }}">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100076391032639">Page</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropbtn">{{ current_user.name }}</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('edit') }}">Profile</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="menu">
                        <li><a href="{{ url_for('blog') }}">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100076391032639">Page</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="main-content">
            <div class="card_display">
                <h1>Hello {{ current_user.name }}</h1>
                <button onclick="showPopup()">Add Card</button>
            </div>
        </div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Enter Card Details</h2>
            <input type="text" id="cardTitle" placeholder="Enter title">
            <button onclick="saveCard()">Save</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>