<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ENGIGEAR | CLUB</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="container">
			<div class="nav-con">
				<div class="logo">
					<h3>ENGIGEAR</h3>
				</div>
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="https://www.facebook.com/profile.php?id=100076391032639">Page</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->

	<!-- Banner -->
	<section class="banner">
		<div class="banner-info">
			<h1>ENGIGEAR.club</h1>
			<p>เพราะ Programming ไม่ใช่ ภาษา แต่เป็นวิธีแก้ปัญหา</p>
			<a href="#" class="banner-btn">Read more</a>
		</div>
	</section>
	<!-- CTA -->
	<section class="cta">
		<div class="container">
			<div class="cta-con">
				<div class="cta-tital">
					<p>Join us For <br>
						Your Future</p>
				</div>
				<div class="cta-btn-box">
					<a href="https://www.facebook.com/profile.php?id=100076391032639" class="cta-btn">Join us</a>
				</div>
			</div>
		</div>
	</section>
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="footer-con">
				<div class="footer-item">
					<h3>Simple</h3>
				</div>
				<div class="footer-item">
					<h3>Sample menu</h3>
					<ul>
						<li><a href="#">Menu 1</a></li>
						<li><a href="#">Menu 2</a></li>
						<li><a href="#">Menu 3</a></li>
						<li><a href="#">Menu 4</a></li>
					</ul>
				</div>
				<div class="footer-item">
					<h3>Sample menu</h3>
					<ul>
						<li><a href="#">Menu 1</a></li>
						<li><a href="#">Menu 2</a></li>
						<li><a href="#">Menu 3</a></li>
						<li><a href="#">Menu 4</a></li>
					</ul>
				</div>
				<div class="footer-item">
					<h3>Our Organization</h3>
					<ul>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sed molestias omnis corrupti possimus enim dolorem soluta sunt quas pariatur.</li>
						<li>mail@gmail.com</li>
						<li>099-000-9999</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>